# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
tmp.yml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Version file
Version

# Dependency directories (remove the comment below to include it)
# vendor/


######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Eclipse Intellij
######################

# *.pydevproject
.project
 .metadata
# bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
# local.properties
.classpath
.settings/
.idea/*
*.iml
